absl-py==1.1.0
aiohttp==3.8.1
aiosignal==1.2.0
albumentations==1.1.0
alignment==1.0.10
asciitree==0.3.3
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.8.1
cachetools==5.2.0
captum==0.5.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
colorama==0.4.4
configparser==5.2.0
cycler==0.11.0
Cython==0.29.28
dill==0.3.5.1
fasteners==0.17.3
fonttools==4.33.3
frozenlist==1.3.0
fsspec==2022.5.0
future==0.18.2
google-auth==2.7.0
google-auth-oauthlib==0.4.6
grpcio==1.46.3
idna==2.8
imagecodecs==2022.2.22
imageio==2.19.3
importlib-metadata==4.11.4
install==1.3.5
joblib==1.1.0
keras==2.9.0
kiwisolver==1.4.2
libtiff==0.4.2
Markdown==3.3.7
matplotlib==3.5.2
multidict==6.0.2
multiprocess==0.70.13
networkx==2.8.2
numcodecs==0.9.1
numpy==1.22.3
oauthlib==3.2.0
opencv-contrib-python==4.6.0.66
opencv-python==4.5.5.64
opencv-python-headless==4.6.0.66
openslide-python==1.2.0
packaging==21.3
pandas==1.4.2
pathos==0.2.9
Pillow==9.1.0
pox==0.3.1
ppft==1.7.6.5
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyDeprecate==0.3.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytorch-lightning==1.0.8
pytorchcv==0.0.67
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
qpsolvers==1.9.1
quadprog==0.1.11
qudida==0.0.4
requests==2.22.0
requests-oauthlib==1.3.1
rsa==4.8
scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
slideio==1.0.3
soupsieve==2.3.2.post1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
tifffile==2022.4.8
tifftools==1.3.4
timm==0.6.7
torch==1.12.0
torchmetrics==0.9.1
torchvision==0.13.0
tqdm==4.64.0
typing-extensions==4.2.0
urllib3==1.25.11
Werkzeug==2.1.2
yarl==1.7.2
zarr==2.11.3
zipp==3.8.0
